.container
  .row
    .col-md-4
      %h3
        Bienvenido!
      %br
    .col-md-8
      %h3
        Post recientes
      .form-group
        - if @posts.count > 0
          - @posts.to_a.each do |post|
            .well
              .row
                %h4
                  %strong="Usuario #{post.user.user_name}"
              .row
                %strong=post.content
                %br
                =link_to 'Mostrar', post
        - else
          %h3
            No hay post que revisar.

        