%header.navbar.navbar-fixed-top.navbar-inverse
  %nav
    -if user_signed_in?
      %span.label
        %strong= "Bienvenido #{current_user.name}"
      %span
        =link_to 'Perfil', profile_path
      %ul.nav.navbar-nav.navbar-right
        %li 
          =link_to 'Cerrar sesion', destroy_user_session_path, method: :delete
    -else
      %ul.nav.navbar-nav.navbar-right
        %li 
          =link_to 'login', login_path
        %li 
          =link_to 'Crear cuenta', sign_up_path


        